@import "tailwindcss";

@theme {
    --font-sans: "Figtree Variable", "sans-serif";
    --font-mono: "Fira Code Variable", "monospace";
}

:root {
    color-scheme: dark;
}

option {
    background-color: black;
}
